/* Our Colors */
:root {
  --tempo-gold: #FDBE00;
  --light-yellow: #E8CC88;
  --faded-gray: #808080;
}

/* General Styling */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: white;
  padding: 15px 30px;
  border-radius: 10px;
  transition: .5s ease;
}

button:hover {
  background-color: var(--faded-gray);
  cursor: pointer
}

textarea, input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 15px;
}

/* Our Adobe Fonts */
.serif {
  font-family: playfair-display, serif;
  font-weight: 500 !important;
  font-style: italic;
  font-size: 28px;
}

.serif-bold {
  font-family: playfair-display, serif;
  font-weight: 800 !important;
  font-style: italic;
  font-size: 28px;
}

.sans-serif {
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
}

.navText {
  font-size: 28px;
  font-weight: 200;
}

.title {
  font-size: 72px;
  font-weight: 800;
}

.subtitle {
  font-size: 3.5vw;
  font-weight: 600;
}

.para {
  font-size: 56px;
  font-weight: 500;
}

.subpara {
  font-size: 36px;
  font-weight: 200;
}

.sm {
  font-size: 1.3vw;
  font-weight: 200;
}

.regular {
  font-size: 16px;
}

.white {
  color: white;
}

.gold {
  color: var(--tempo-gold);
}

.grey {
  color: var(--faded-gray);
}

.main {
  padding: 20px 140px 40px;
  min-height: 75vh;
}

.main-gold {
  background-color: var(--tempo-gold);
  margin: 0px 140px;
  padding: 20px 50px 40px;
  min-height: 75vh;
}

.main-background {
  background-image: url("./assets/band-room.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Component: Header */
header {
  padding: 0px 140px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a:not(:last-of-type) {
  margin-right: 50px;
}

header a, header h1 {
  transition: .3s ease;
}

header a:hover {
  color: var(--faded-gray);
}

header h1:hover {
  color: var(--light-yellow);
}

#logo image {
  width: 70%;
}

/* Component: Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 30px 0px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Page: Homepage */
main {
  text-align: center;
}

main .white-bg {
  background-color: white;
}

main section:first-of-type {
  padding: 250px 0px;
  background-image: url("./assets/music-pile-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main section:first-of-type h1:first-of-type {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 5px solid var(--tempo-gold);
  width: 70%;
}

main .welcome {
  padding: 100px 0px;
  background: var(--tempo-gold);
}

main .welcome p {
  margin-top: 75px;
}

main div:first-of-type {
  height: 800px;
  background-image: url("./assets/concert-scene.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main div:last-of-type {
  height: 800px;
  background-image: url("./assets/band-room.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:last-of-type p {
  margin-bottom: 30px;
}

main section:last-of-type {
  padding: 85px 0px;
}

/* Pages: Signup */
.sign-on {
  background-image: url("./assets/sign-on-hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0px;
}

.sign-on form {
  margin-left: 75px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 35%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.6);
}

.sign-on form div:first-of-type input {
  width: 90%;
}

.sign-on form h1, .sign-on form div:first-of-type, .sign-on form input, .sign-on form textarea {
  margin-bottom: 20px;
}

.sign-on form div:last-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-on form .radio-div input {
  margin-bottom: 0px;
  margin-right: 25px;
  height: 25px;
  width: 25px;
}

.sign-on form button {
  margin-top: 50px;
  width: 35%
}

#messageLimit {
  align-self: flex-end;
}

/* Page: My Reviews */
.myreviews {
  background-color: var(--tempo-gold);
}

.myreviews h1 {
  margin-bottom: 30px;
}

.black-card {
  background-color: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 40px 30px;
}

.review-layout div {
  display: flex;
  justify-content: space-between;
}

.review-layout p {
  margin-bottom: 10px;
}

.review-layout p a {
  text-decoration: underline;
}

.createdAt {
  align-self: flex-end;
  margin-top: 10px;
}

.back-to-dash {
  display: flex;
  justify-content: space-between;
}

.back-to-dash a, .back-to-dash a button {
  height: 50%;
  padding: 10px 20px;
}

.bio {
  margin-left: 115px;
}

/* Pages: Profile */
.profile-black {
  display: flex;
  flex-direction: row !important;
}

.profile-black div, .profile-black section {
  display: flex;
  flex-direction: column;
}

.profile-black section:first-of-type {
  width: 100%;
  margin-right: 100px;
  align-items: center;
  text-align: center;
}

.profile-black section:last-of-type p {
  margin: auto 0px;
}

.profile-black div {
  justify-content: space-evenly;
}

.profile-black button {
  width: 40%;
  padding: 5px 10px;
  margin-top: 15px;
}

/* review form start */
.profile-form {
  background-color: black;
  border-radius: 10px;
  margin: 20px 40px 0px;
  padding: 40px 30px;
}

.profile-form div, .profile-form div section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-right: 25px;
}

.profile-form div section:first-of-type {
  width: 20%;
}

.profile-form div section:nth-of-type(2) {
  width: 60%;
}

.profile-form input, .profile-form textarea {
  margin: auto 0px;
  width: 100%;
}

.profile-form input {
  width: 20%;
}

.profile-form label {
  margin-right: 10px;
}
/* review form end */

.media-spacing {
  margin-bottom: 15px;
}

.media-tag {
  margin-right: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  border-radius: 15px;
}

/* Pages: Dashboard */
.list-border {
  border-radius: 5px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
}

.loading {
  text-align: center;
}

.card-top {
  background-color: black;
  border-radius: 15px 15px 0px 0px;
}

.card-bottom {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}

.dashboard-card {
  padding: 20px 70px 40px 70px;
  display: flex;
  flex-direction: column;
}

.dashboard-card:first-of-type {
  margin: 20px 40px 0px;
}

.dashboard-card:last-of-type {
  margin: 0px 40px 20px;
}

.dashboard-card div {
  display: flex;
}

.dashboard-card div p:first-of-type {
  width: 300px;
}

.media-list-div {
  display: flex;
  flex-wrap: wrap;
}

article .media-card {
  background-color: black;
  padding: 10px 25px 30px;
  border-radius: 15px;
  margin-right: 20px;
  margin-top: 15px;
  max-width: 30%;
}

article .media-card p {
  width: inherit !important;
  margin-bottom: 5px;
}

.media-title {
  text-decoration: underline;
  text-decoration-color: white;
}

.dash-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dash-buttons a {
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: .5s ease;
}

.dash-buttons a:hover {
  background-color: var(--faded-gray);
}

.avatar-right {
  display: flex;
  justify-content: space-between;
}

/* Pages: Upload Media */
.media-layout {
  box-shadow: none;
  display: flex;
}

.media-layout h1 {
    margin-bottom: 30px;
}

.media-layout button {
  width: 15%;
  align-self: flex-end;
}

.row-div {
  display: flex;
  flex-direction: row;
}

.column-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-div:first-of-type {
  margin-right: 80px;
}

/* Pages: Discover */
.disco-search-div {
  margin-top: 15px;
}
.disco-search-div input {
  width: 100%;
  margin-top: 10px;
}

.disco-tag-div ul {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 40px;
}

.disco-tag-div ul li button {
  margin-right: 20px;
  border-radius: 30px;
  padding: 5px 15px 10px;
}

.disco-tag-div ul li span {
  margin-right: 15px;
}

.profile-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.profile-preview .avatar {
  align-self: center;
}

.profile-preview div {
  max-width: 30%;
}

.profile-preview div h1 {
  text-decoration: underline;
}

.profile-preview a h1, .profile-preview p {
  margin-bottom: 20px;
}

.meta-paragraphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.next-btn {
  display: flex;
  width: 50%;
  margin-left: auto;
  justify-content: space-between;
}

.avatar, .avatar img {
  width: 100px;
  border-radius: 50%;
}

