/* MOBILE RESPONSIVENESS */
/* Smaller screen changes */
@media screen and (max-width: 1700px) {
    .para {
      font-size: 48px;
    }
  
    .sm {
      font-size: 1.7vw;
    }
  
    .regular {
      font-size: 24px;
    }
  
    /* review form */
    .profile-form input {
      width: 50px;
    }
  
    .profile-form div section:nth-of-type(2) {
      margin-left: 35px;
    }
  
    /* profile */
    article .media-card p {
      margin-bottom: 15px;
    }
  }
  
  @media screen and (max-width: 1200px) {
    header {
      padding: 0px 80px;
    }
  
    .subtitle {
      font-size: 4vw;
    }
  
    main .welcome p {
      margin-top: 50px;
    }
  
    .para {
      font-size: 45px;
    }
  
    /* login */
    .sign-on form {
      margin-left: 50px;
      width: 45%;
    }
    /*        */
  
    .sm {
      font-size: 2vw;
    }
  
    .main-gold {
      margin: 0px 80px;
      padding: 20px 40px 50px;
    }
  
    .avatar, .avatar img {
      width: 150px;
    }
  
    .profile-preview {
      flex-wrap: wrap;
    }
  
    article .media-card {
      max-width: 40%;
    }
  
    /* review form */
    .profile-form div button {
      padding: 5px 15px;
      font-size: 15px;
    }
  
    .profile-form div label, .profile-form div input, 
    .profile-form div p, .profile-form div textarea {
      font-size: 24px;
    }
    /*             */
  }
  
  @media screen and (max-width: 1024px) {
    #logo image {
      width: 50%;
    }
  
    header nav a:not(:last-of-type) {
      margin-right: 30px;
    }
  
    header {
      padding: 0px 50px;
    }
  
    .navText {
      font-size: 22px;
    }
  
    .main-gold {
      margin: 0px 50px;
    }
  
    main section:first-of-type {
      padding: 150px 0px;
    }
  
    main div:first-of-type, main div:last-of-type {
      height: 500px;
    }
  
    .subtitle {
      font-size: 4.5vw;
    }
  
    .dashboard-card:first-of-type {
      margin: 20px 0px 0px;
    }
  
    .dashboard-card:last-of-type {
      margin: 0px 0px 20px;
    }
  
    .dashboard-card div p:first-of-type {
      width: 200px;
    }
  
    .dashboard-card {
      padding: 20px 45px 40px 45px;
    }
  
    .subpara {
      font-size: 28px;
    }
  
    .bio {
      margin-left: 50px;
    }
  
    .avatar-right .avatar, .avatar-right .avatar img {
      width: 100px;
    }
  
    article .media-card {
      max-width: 35%;
    }
  
    .media-layout button {
      font-size: 18px;
      padding: 5px 10px;
    }
  
    .regular {
      font-size: 18px;
    }
  
    .media-spacing {
      margin-bottom: 25px;
    }
  
    .myreviews .black-card {
      padding: 20px 20px;
    }
  
    .profile-black button {
      width: 30%;
      margin-bottom: 20px;
    }
  
    .profile-black section {
      text-align: center;
    }
  
    .profile-form {
      margin: 20px 0px 0px;
      padding: 20px 20px;
    }
  
    .profile-black {
      flex-direction: column !important;
    }
  
    .para {
      font-size: 36px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .title {
      font-size: 52px;
    }
  
    .para {
      font-size: 32px;
    }
  
    main .welcome {
      padding: 75px 0px;
    }
  
    #logo image {
      width: 40%;
    }
  
    header {
      padding: 0px 35px;
      height: 55px;
    }
  
    .navText {
      font-size: 18px;
    }
  
    main div:first-of-type, main div:last-of-type {
      height: 400px;
    }
  
    .sign-on form {
      margin: 20px;
      padding: 20px;
    }
  
    button {
      padding: 10px 15px;
    }
  
    .sm {
      font-size: 2.5vw;
    }
  
    /* background change */
    .main-background {
      background-image: none;
    }
  
    .main-gold {
      margin: 0px;
    }
    /*                   */
  
    .dashboard-card:last-of-type {
      margin-bottom: 0px;
    }
  
    /* profile preview change */
    .profile-preview div:nth-of-type(2) p:last-of-type, .meta-paragraphs {
      display: none;
    }
    
    .profile-preview div {
      justify-self: center;
      align-self: center;
      margin: 0 auto;
      text-align: center
    }
    /*                        */
  
    .subpara {
      font-size: 24px;
    }
  
    .profile-black button {
      width: 25%;
      margin: 10px 0px;
    }
  
    .profile-form div section label, .profile-form div section input,
    .profile-form div section textarea, .profile-form div section p {
      font-size: 18px;
    };
  
    textarea, input {
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main-gold {
      padding: 15px 20px 20px;
    }
  
    .regular {
      font-size: 14px;
    }
  
    /* header */
    #logo image {
      width: 30%;
    }
  
    header #logo {
      width: 100px;
    }
  
    .navText {
      font-size: 16px;
    }
  
    header nav a:not(:last-of-type) {
      margin-right: 15px;
    }
    /*        */
  
    /* homepage */
    main section:first-of-type {
      padding: 75px 0px;
    }
  
    main .welcome {
      padding: 25px 0px;
    }
  
    main .welcome p {
      margin-top: 15px;
    }
  
    .para {
      font-size: 26px;
    }
  
    .title {
      font-size: 36px;
    }
  
    main div:first-of-type, main div:last-of-type {
      height: 200px;
    }
  
    main section:last-of-type {
      padding: 30px 0px;
    }
  
    main section:last-of-type p {
      margin-bottom: 15px;
      padding: 0px 10px;
    }
  
    main div:last-of-type {
      background-size: cover;
    }
  
    /* login-sign up */
      .sign-on {
        background-position: left;
        justify-content: center;
      }
  
      .sign-on form {
        width: 80%;
      }
  
      .sign-on form .para {
        font-size: 36px;
      }
  
      .sm {
        font-size: 3.5vw;
      }
  
    /* dashboard */
    .avatar-right .avatar, .avatar-right .avatar img {
      width: 75px;
    }
  
    .subpara {
      font-size: 18px;
    }
  
    .dashboard-card:first-of-type {
      padding: 20px 20px;
    }
  
    .dashboard-card:last-of-type {
      padding: 20px 20px;
    }
  
    .dashboard-card div p:first-of-type {
      width: 140px;
    }
  
    .dashboard-card div:last-of-type, .dashboard-card:first-of-type div:not(:first-of-type) {
      flex-direction: column;
    }
  
    .dashboard-card:first-of-type div:not(:last-of-type) p:last-of-type {
      font-size: 24px;
    }
  
    .bio {
      margin-left: 0px;
      margin-top: 5px;;
    }
  
    /* profile preview */
    .profile-preview {
      flex-direction: column;
    }
  
    .profile-preview div {
      max-width: 100%;
    }
  
    .profile-preview div:nth-of-type(2) {
      border-bottom: 1px solid var(--tempo-gold);
      width: 100%;
      margin-bottom: 20px;
    }
  
    .meta-paragraphs {
      display: flex;
      justify-content: space-around;
    }
  
    .disco-tag-div ul {
      margin-block-start: 0px;
      margin-bottom: 20px;
    }
  
    /* profile */
    article .media-card {
      max-width: 100%;
    }
  
    /* profile review */
    .profile-form div {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .profile-form div section:nth-of-type(2) {
      width: 100%;
      margin-left: 0px;
    }
  
      /* upload media */
      .media-layout {
        flex-direction: column;
      }
    
      .media-layout h1 {
        font-size: 24px;
      }
    
      .media-layout .row-div {
        flex-direction: column;
      }
    
      .column-div:first-of-type {
        margin-right: 0px;
      }
    
      .media-layout button {
        font-size: 12px;
        padding: 5px 10px;
        width: 30%;
      }
  }
  
  @media screen and (max-width: 360px) {
    /* header */
    header {
      padding: 0px 5px 0px 0px;
      height: 40px;
    }
  
    #logo image {
      width: 20%;
    }
  
    .navText {
      font-size: 10px;
    }
  
    /* homepage */
    .subtitle {
      font-size: 5.2vw;
    }
  
    .title {
      font-size: 24px;
    }
  
    main .welcome p {
      margin-top: 10px;
    }
    
    .para {
      font-size: 20px;
    }
  
    .sign-on form h1 {
      font-size: 24px !important;
    }
  
    .sm {
      font-size: 16px;
    }
  
    .sign-on form .radio-div input {
      margin-bottom: 0px;
      margin-right: 25px;
      height: 15px;
      width: 15px;
    }
  
    .radio-div label {
      font-size: 22px;
    }
  
    .sign-on form button {
      margin-top: 20px;
      width: 35%;
      padding: 5px 10px;
  }
  
    /* profile */
    .avatar, .avatar img {
      width: 75px;
    }
  
    .subpara {
      font-size: 16px;
    }
  
    .media-spacing {
      flex-direction: column;
    }
  
    .media-spacing p {
      margin-bottom: 5px;
    }
  
    .profile-form div button {
      padding: 2px 8px;
      font-size: 12px;
    }
  
    main section:last-of-type p {
      margin-bottom: 10px;
      padding: 0px 10px;
      font-size: 15px;
    }
  
    /* my review */
    .review-layout div:first-of-type {
      flex-direction: column;
    }
  
    .review-layout .subpara {
      font-size: 20px;
    }
  
    .createdAt {
      align-self: flex-start;
    }
  
    .back-to-dash a, .back-to-dash a button {
      padding: 5px 10px;
      font-size: 10px;
      height: 25px;
    }
  
    .back-to-dash {
      height: 50px;
    }
  
    .review-layout:first-of-type {
      margin-top: 0px;
    }
  }